<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.demo.model.mapper.GraderMapper">
    <select id="selectAll" resultType="com.student.demo.pojo.Grade">
        select  * from grade
    </select>
    <select id="selectByID" resultMap="base2" >
        select  * from grade where giid=#{id}
    </select>
    <resultMap id="base" type="com.student.demo.pojo.Grade" >
        <id property="giid" column="giid"/>
        <result property="gname" column="gname"/>
        <result property="teacher" column="teacher"/>
        <result property="classroom" column="classroom"/>
        <result property="term" column="term"/>

    </resultMap>

    <resultMap id="base2" type="com.student.demo.pojo.Grade" extends="base">
        <collection property="termsByGiid" ofType="com.student.demo.pojo.Term" select="com.student.demo.model.mapper.TremMapper.selectByid" column="term">

        </collection>
    </resultMap>

</mapper>