<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.student.demo.model.mapper.OrdersMapper">
    <select id="selectAll" resultType="com.student.demo.pojo.Orders">
            select * from  orders
    </select>

    <resultMap id="details" type="com.student.demo.pojo.Orders">
        <id property="oid" column="oid"></id>
        <result property="uid" column="uid"/>
        <result property="oState" column="oState"/>
        <result property="oTime" column="oTime"/>
        <result property="oConsignee" column="oConsignee"/>
        <result property="oPhone" column="oPhone"/>
        <result property="oAddress" column="oAddress"/>

        <result property="oRental" column="oRental"/>

        <collection property="details" ofType="com.student.demo.pojo.Ordetails" select="com.student.demo.model.mapper.OrdetailsMapper.selectByid" column="oid">
            <id property="odid" column="odid"></id>
            <result property="num" column="num"/>
            <result property="aPrice" column="aPrice"/>


        </collection>

    </resultMap>

    <select id="selectFen"  resultMap="details" >
        select ord.*,ors.odid,ors.num,ors.g_price from  orders ord inner join ordetails  ors on  ord.oid=ors.oid group by ord.oid
    </select>


    <select id="selectZuhe" resultMap="details" parameterType="com.student.demo.pojo.Orders">
        select ord.*,ors.odid,ors.num,ors.g_price from  orders ord left join ordetails  ors on  ord.oid=ors.oid
        <where>
            <if test="ord.oid!=null and ord.oid!='' ">
                and oid=#{}
            </if>

        </where>

    </select>


</mapper>